<section class="section h-100">
    <div class="container h-100">
        <div class="columns is-centered is-vcentered h-100">
            <form class="column is-one-third">
                <div class="field">
                    <label for="" class="label">Username</label>
                    <div class="control">
                        <input 
                            {{on "input" (action loginForm.userName.set value="target.value")}} 

                            type="text" 
                            class="input" 
                            placeholder="Username"
                        >
                    </div>
                </div>
                <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control">
                        <input 
                            {{on "input" (action loginForm.userPassword.set value="target.value")}} 
                            type="text" 
                            class="input" 
                            name="password" 
                            placeholder="Password"
                        >
                    </div>
                </div>
                <div class="field login-btn-container">
                    <div class="control w-100">
                        <button 
                            {{action this.login}} 
                            class="button is-primary is-fullwidth"
                            disabled={{if formIsEmpty true}}
                        >
                                Log In
                            </button>
                    </div>
                    {{#if this.session.isAuthenticated}}
                        Logged in!
                    {{/if}}
                    {{#if this.loginForm.errorMessage.state}}
                        {{this.loginForm.errorMessage.state}}
                    {{/if}}
                </div>
            </form>
        </div>
    </div> 
</section>       