<div class="section h-100">
    <div class="container h-100 is-scrollable">
        <div class="columns is-space-evenly">
            <form class="column is-two-thirds is-two-thirds-mobile">
                <div class="field is-horizontal">
                    {{!-- <div class="field-label is-normal">
                        <label class="label">
                            Location
                        </label>
                    </div> --}}
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="text" placeholder="Location">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button 
                                    {{action this.locate}} 
                                    class="button is-light"
                                >
                                    {{fa-icon 
                                        "location-arrow"
                                        class="is-hover custom-primary"
                                    }}
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    {{!-- <div class="field-label is-normal">
                        <label class="label">
                            Location
                        </label>
                    </div> --}}
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="text" placeholder="Location">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <input class="input" type="text" placeholder="Location">
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="columns is-space-evenly">
            {{#each model.events as |event|}}
                <div class="column is-half">
                    <LfCard @event={{event}} />
                </div>
            {{else}}
                <div class="column is-half">
                    <div>No current events!</div>
                </div>
            {{/each}}
        </div>
    </div> 
    <button disabled={{lt page 2}} {{action this.prevPage}}>Previous</button><button {{action this.nextPage}}>Next</button>
</div>
{{outlet}}
