<section class="section h-100">
    <div class="container h-100">
        <div class="columns is-centered is-vcentered h-100">
            <form class="column is-one-third">
                <div class="field">
                    <label for="" class="label">Username</label>
                    <div class="control">
                        <input
                            {{on "input" (action this.signUpForm.userName.set value="target.value")}}
                            type="text" 
                            class="input" 
                            placeholder="Username"
                        >
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Email</label>
                    <div class="control">
                        <input
                            {{on "input" (action this.signUpForm.email.set value="target.value")}}
                            type="text" 
                            class="input" 
                            placeholder="Email"
                        >
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Password</label>
                    <div class="control">
                        <input
                            {{on "input" (action this.signUpForm.userPassword.set value="target.value")}}
                            type="text" 
                            class="input" 
                            placeholder="Password"
                        >
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Confirm Password</label>
                    <div class="control">
                        <input
                            {{on "input" (action this.signUpForm.userPasswordConfirmation.set value="target.value")}}
                            type="text" 
                            class="input" 
                            placeholder="Confirm Password"
                        >
                    </div>
                </div>
                <div class="field login-btn-container">
                    <div class="control w-100">
                        <button 
                            {{action this.signUp}} 
                            disabled={{unless this.isFormValid true}} 
                            class="button is-primary is-fullwidth">
                            Sign Up
                        </button>
                    </div>
                    {{#if this.session.isAuthenticated}}
                        Account created!
                    {{/if}}
                    {{#if this.signUpForm.errorMessage}}
                        {{this.signUpForm.errorMessage}}
                    {{/if}}
                </div>
            </form>
        </div>
    </div> 
</section>       