<section class="section h-100">
    <div class="container h-100">
        <div class="columns is-centered is-vcentered h-100">
            {{#unless isInEditMode}}
                <div>
                    <div>
                        Name:
                    </div>
                    <div>
                        {{model.name}}
                    </div>
                    <div>
                        Bio:
                    </div>
                    <div>
                        {{model.bio}}
                    </div>
                    <button class="button is-danger" {{action this.toggleEditMode}}>
                        {{fa-icon "tools"}} &nbsp; Edit Profile
                    </button>
                </div>
            {{else}}
                {{component 
                    "profile-form"
                    bio=this.model.bio
                    save=(action this.saveProfile) 
                    toggleEdit=(action this.toggleEditMode)
                }}
            {{/unless}}
        </div>
    </div>
</section>