<section class="section h-100">
    <div class="container h-100">
        <div class="columns is-centered is-vcentered h-100">
            {{#if (not this.isInEditMode.state)}}
                <div>
                    <div>
                        Name:
                    </div>
                    <div>
                        {{this.model.name}}
                    </div>
                    <div>
                        Bio:
                    </div>
                    <div>
                        {{this.model.bio}}
                    </div>
                    <button class="button is-danger" {{action this.toggleEditMode}}>
                        {{fa-icon "tools"}} &nbsp; Edit Profile
                    </button>
                </div>
            {{else}}
                <ProfileForm
                    @bio={{this.model.bio}}
                    @loading={{this.saveProfileTask.isRunning}}
                    @onSave={{this.saveProfile}} 
                    @toggleEdit={{this.toggleEditMode}}
                />
            {{/if}}
        </div>
    </div>
</section>